*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(82, 9, 9);
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px;
}
h1{
    font-size: 2rem;
    padding-bottom: 2rem;
}
main > div{
    font-size: 1.3rem;
}
a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem;
}
#sinistra{
    position: relative;
    top: 310px;
    left: 25px;
    background-color: #d540cd;
    color: black;
}
#destra{
    position: absolute;
    top: 310px;
    right: 25px;
    background-color: #0f3c2d;
    color: white;
}